---
import Layout from "@/components/layout.astro";
---
<Layout
	coverImage="/images/billow926-rTufXtvIFXc-unsplash.jpg"
	title="Uh Oh! Page Not Found"
>
	<h2 class="text-3xl font-bold pb-16">
		There&apos;s nothing here. Sorry about that.
	</h2>
</Layout>