<footer class="flex justify-center items-center p-14 bg-primary text-primary-foreground">
	<div>
		<a href="https://github.com/claudiorivera/claudiorivera-com">
			Site made by me
		</a>
		. 
		<a href="mailto:me@claudiorivera.com">Email me&nbsp;</a>or connect
		on&nbsp;
		<a href="https://www.linkedin.com/in/atclaudiorivera/">LinkedIn</a>.
	</div>
</footer>
