---
import { ArrowDown } from "lucide-react";
import BaseHead from "@/components/base-head.astro";
import Footer from "@/components/footer.astro";
import Header from "@/components/header.astro";
import HeroImageContainer from "@/components/hero-image-container.astro";
import "@fontsource-variable/eb-garamond";
import "@fontsource-variable/inter";

type Props = {
	title: string;
	coverImage: string;
};

const { coverImage, title = "Home" } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<BaseHead />
	</head>
	<body>
		<div class="flex flex-col gap-8 sm:gap-16">
			<HeroImageContainer image={coverImage} title="background">
				<Header />
				<div class="hidden sm:block bottom-0 text-primary-foreground absolute text-center">
					<div class="flex flex-col items-center gap-1 p-4">
						<h1 class="text-5xl font-bold">{title}</h1>
						<ArrowDown className="w-10 h-10" />
					</div>
				</div>
			</HeroImageContainer>
		
			<div class="container mx-auto max-w-7xl">
				<main id="main">
					<slot />	
				</main>
			</div>
		
			<Footer />
		</div>
	</body>
</html>


